# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
GestureRecognition/GestureRecognition/x64/Debug/GestureR.873DD2EF.tlog/CL.read.1.tlog
GestureRecognition/GestureRecognition/x64/Debug/
GestureRecognition/.vs/
GestureRecognition/GestureRecognition/Debug/
GestureRecognition/x64/Debug/
